<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861585611074-o998m5l116m250rmdrr820l3ev19ehmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861585611074-o998m5l116m250rmdrr820l3ev19ehmo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>861585611074-244g6pokq2hmogfuaf9foaq544vujvpe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDu1GJnqVnZ6e10RdC3nxTmrrRjGdqI29o</string>
	<key>GCM_SENDER_ID</key>
	<string>861585611074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.rsapps.carlog</string>
	<key>PROJECT_ID</key>
	<string>carlog-4a6c0</string>
	<key>STORAGE_BUCKET</key>
	<string>carlog-4a6c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861585611074:ios:7ed98ae7632cd725f310db</string>
</dict>
</plist>